flows.json
[
    {
        "id": "ec65de97fd14af2f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f68bd44f6d1004ab",
        "type": "ui_slider",
        "z": "ec65de97fd14af2f",
        "name": "",
        "label": "Adjust the sampling time",
        "tooltip": "",
        "group": "5dd723e1d7faee89",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "6d8e6a705b3d730d",
                "7c1338e327589678"
            ]
        ]
    },
    {
        "id": "746c5a3603942d6d",
        "type": "ui_slider",
        "z": "ec65de97fd14af2f",
        "name": "",
        "label": "Adjusting data sending time",
        "tooltip": "",
        "group": "5dd723e1d7faee89",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "2",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 720,
        "y": 220,
        "wires": [
            [
                "6c9b63ef4208d549",
                "a8ab620dfc08d145"
            ]
        ]
    },
    {
        "id": "0ab28f3456f4fbb5",
        "type": "ui_chart",
        "z": "ec65de97fd14af2f",
        "name": "",
        "group": "5dd723e1d7faee89",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Light Intensity Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "No data available ",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6d8e6a705b3d730d",
        "type": "ui_text",
        "z": "ec65de97fd14af2f",
        "group": "5dd723e1d7faee89",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Value",
        "format": "{{msg.payload}} seconds",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "6c9b63ef4208d549",
        "type": "ui_text",
        "z": "ec65de97fd14af2f",
        "group": "5dd723e1d7faee89",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Value",
        "format": "{{msg.payload}} minutes",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 980,
        "y": 220,
        "wires": []
    },
    {
        "id": "80f6c7c1e28070af",
        "type": "ui_slider",
        "z": "ec65de97fd14af2f",
        "name": "",
        "label": "Minimum angel of sliding window",
        "tooltip": "",
        "group": "c1f100a1344a4108",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 280,
        "y": 460,
        "wires": [
            [
                "8ebfe1fb1d07cd41",
                "b06fd6948b2e6190"
            ]
        ]
    },
    {
        "id": "d324a02af33a42b2",
        "type": "ui_slider",
        "z": "ec65de97fd14af2f",
        "name": "",
        "label": "Controlling factor",
        "tooltip": "",
        "group": "c1f100a1344a4108",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.1",
        "className": "",
        "x": 230,
        "y": 560,
        "wires": [
            [
                "3895b09e47e0d51e",
                "5f3ed045bd894d06"
            ]
        ]
    },
    {
        "id": "73b2b1240358e30d",
        "type": "ui_slider",
        "z": "ec65de97fd14af2f",
        "name": "",
        "label": "Ideal storage temperature",
        "tooltip": "",
        "group": "c1f100a1344a4108",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 230,
        "y": 660,
        "wires": [
            [
                "e3482d1cb0c67107",
                "1008ab45213d6f05"
            ]
        ]
    },
    {
        "id": "8ebfe1fb1d07cd41",
        "type": "ui_text",
        "z": "ec65de97fd14af2f",
        "group": "c1f100a1344a4108",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Value",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "3895b09e47e0d51e",
        "type": "ui_text",
        "z": "ec65de97fd14af2f",
        "group": "c1f100a1344a4108",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Value",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 460,
        "y": 560,
        "wires": []
    },
    {
        "id": "e3482d1cb0c67107",
        "type": "ui_text",
        "z": "ec65de97fd14af2f",
        "group": "c1f100a1344a4108",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Value",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "b71bc64cf141ac4b",
        "type": "ui_gauge",
        "z": "ec65de97fd14af2f",
        "name": "",
        "group": "5dd723e1d7faee89",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Last Average Light Intensity",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 320,
        "y": 280,
        "wires": []
    },
    {
        "id": "66df10cbc221dbc9",
        "type": "ui_gauge",
        "z": "ec65de97fd14af2f",
        "name": "",
        "group": "27721d3795b6f8b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temperature ",
        "label": "C",
        "format": "{{payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 300,
        "y": 760,
        "wires": []
    },
    {
        "id": "7511e1dbfb890e3e",
        "type": "ui_chart",
        "z": "ec65de97fd14af2f",
        "name": "",
        "group": "27721d3795b6f8b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "cubic",
        "nodata": "No Data Available",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "50520f95c8a6fe19",
        "type": "ui_switch",
        "z": "ec65de97fd14af2f",
        "name": "",
        "label": "On Off the Medibox",
        "tooltip": "MediBox will stop for 10 seconds",
        "group": "429689b111e4e605",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 170,
        "y": 980,
        "wires": [
            [
                "79eb2a78b25aeab3"
            ]
        ]
    },
    {
        "id": "8703d53ad81d61f8",
        "type": "ui_gauge",
        "z": "ec65de97fd14af2f",
        "name": "",
        "group": "babc4499461ba739",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Humidity",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "29b9c9c4638a3235",
        "type": "ui_chart",
        "z": "ec65de97fd14af2f",
        "name": "",
        "group": "babc4499461ba739",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "cubic",
        "nodata": "No Data Available",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "59410cbb6768211b",
        "type": "mqtt in",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "82937c582664468e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 760,
        "wires": [
            [
                "66df10cbc221dbc9",
                "7511e1dbfb890e3e"
            ]
        ]
    },
    {
        "id": "869732d142a261b8",
        "type": "mqtt in",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "82937c582664468e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 760,
        "wires": [
            [
                "8703d53ad81d61f8",
                "29b9c9c4638a3235"
            ]
        ]
    },
    {
        "id": "79eb2a78b25aeab3",
        "type": "mqtt out",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "switch-on-off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82937c582664468e",
        "x": 470,
        "y": 980,
        "wires": []
    },
    {
        "id": "2af6b259c88a09a9",
        "type": "mqtt in",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "LDR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "82937c582664468e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "b71bc64cf141ac4b",
                "0ab28f3456f4fbb5"
            ]
        ]
    },
    {
        "id": "7ca21cbfe6996e45",
        "type": "ui_text",
        "z": "ec65de97fd14af2f",
        "group": "d4032f66ccdc3d25",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Welcome to MediBox",
        "format": "{{payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "24",
        "color": "#92f05c",
        "x": 640,
        "y": 1240,
        "wires": []
    },
    {
        "id": "95d486c3e097a1cf",
        "type": "mqtt out",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "get-sampling-time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82937c582664468e",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "0de7e398f17ed78d",
        "type": "ui_button",
        "z": "ec65de97fd14af2f",
        "name": "",
        "group": "5dd723e1d7faee89",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send sampling time",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "099f2578f30f58b4"
            ]
        ]
    },
    {
        "id": "43933fc4f70bf9e4",
        "type": "ui_button",
        "z": "ec65de97fd14af2f",
        "name": "",
        "group": "5dd723e1d7faee89",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send interval",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 100,
        "wires": [
            [
                "739d047290f73550"
            ]
        ]
    },
    {
        "id": "c5e48b05e886fe26",
        "type": "mqtt out",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "get-sending-time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82937c582664468e",
        "x": 930,
        "y": 100,
        "wires": []
    },
    {
        "id": "93b22152a0cf723a",
        "type": "ui_button",
        "z": "ec65de97fd14af2f",
        "name": "",
        "group": "c1f100a1344a4108",
        "order": 4,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Send Minimum Angle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 860,
        "y": 460,
        "wires": [
            [
                "c5037a01c4526b2d"
            ]
        ]
    },
    {
        "id": "74d348eb98a3aa0a",
        "type": "mqtt out",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "get-minimum-angle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82937c582664468e",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "b0aad914319a23ab",
        "type": "mqtt out",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "get-controlling-factor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82937c582664468e",
        "x": 1160,
        "y": 560,
        "wires": []
    },
    {
        "id": "511f7a4db2de8531",
        "type": "mqtt out",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "get-ideal-temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82937c582664468e",
        "x": 1200,
        "y": 660,
        "wires": []
    },
    {
        "id": "5a86d640bf986942",
        "type": "ui_button",
        "z": "ec65de97fd14af2f",
        "name": "",
        "group": "c1f100a1344a4108",
        "order": 9,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Send Controlling Factor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 560,
        "wires": [
            [
                "3b808031d58fbcce"
            ]
        ]
    },
    {
        "id": "571b98c373126e1e",
        "type": "ui_button",
        "z": "ec65de97fd14af2f",
        "name": "",
        "group": "c1f100a1344a4108",
        "order": 14,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Send Ideal Temperature",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 660,
        "wires": [
            [
                "c755f1534eb71817"
            ]
        ]
    },
    {
        "id": "f5f5d1cd51e58a38",
        "type": "mqtt in",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "ldr-update",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "82937c582664468e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1100,
        "wires": [
            [
                "2d0ad1a236c7809e"
            ]
        ]
    },
    {
        "id": "2d0ad1a236c7809e",
        "type": "ui_text",
        "z": "ec65de97fd14af2f",
        "group": "5dd723e1d7faee89",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Updated At:",
        "format": "{{payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#ffffff",
        "x": 450,
        "y": 1100,
        "wires": []
    },
    {
        "id": "99e7735b779c8192",
        "type": "mqtt in",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "time-update",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "82937c582664468e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1240,
        "wires": [
            [
                "7ca21cbfe6996e45"
            ]
        ]
    },
    {
        "id": "7c1338e327589678",
        "type": "function",
        "z": "ec65de97fd14af2f",
        "name": "function 2",
        "func": "flow.set(\"sampling_time\",msg.payload);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "099f2578f30f58b4",
        "type": "function",
        "z": "ec65de97fd14af2f",
        "name": "function 1",
        "func": "// Get the stored slider value\nlet value = flow.get(\"sampling_time\");\n\nif (value !== undefined) {\n    msg.payload = value;\n    return msg;\n} else {\n    return msg; \n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 40,
        "wires": [
            [
                "95d486c3e097a1cf"
            ]
        ]
    },
    {
        "id": "a8ab620dfc08d145",
        "type": "function",
        "z": "ec65de97fd14af2f",
        "name": "function 3",
        "func": "flow.set(\"sending_interval\",msg.payload);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "739d047290f73550",
        "type": "function",
        "z": "ec65de97fd14af2f",
        "name": "function 4",
        "func": "\nlet value = flow.get(\"sending_interval\");\n\nif (value !== undefined) {\n    msg.payload = value;\n    return msg;\n} else {\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 40,
        "wires": [
            [
                "c5e48b05e886fe26"
            ]
        ]
    },
    {
        "id": "b06fd6948b2e6190",
        "type": "function",
        "z": "ec65de97fd14af2f",
        "name": "function 5",
        "func": "flow.set(\"minimum_angle\",msg.payload);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c5037a01c4526b2d",
        "type": "function",
        "z": "ec65de97fd14af2f",
        "name": "function 6",
        "func": "let value = flow.get(\"minimum_angle\");\n\nif (value !== undefined) {\n    msg.payload = value;\n    return msg;\n} else {\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 380,
        "wires": [
            [
                "74d348eb98a3aa0a"
            ]
        ]
    },
    {
        "id": "5f3ed045bd894d06",
        "type": "function",
        "z": "ec65de97fd14af2f",
        "name": "function 7",
        "func": "flow.set(\"controlling_factor\",msg.payload);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "3b808031d58fbcce",
        "type": "function",
        "z": "ec65de97fd14af2f",
        "name": "function 8",
        "func": "let value = flow.get(\"controlling_factor\");\n\nif (value !== undefined) {\n    msg.payload = value;\n    return msg;\n} else {\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 520,
        "wires": [
            [
                "b0aad914319a23ab"
            ]
        ]
    },
    {
        "id": "1008ab45213d6f05",
        "type": "function",
        "z": "ec65de97fd14af2f",
        "name": "function 9",
        "func": "flow.set(\"ideal_temp\",msg.payload);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c755f1534eb71817",
        "type": "function",
        "z": "ec65de97fd14af2f",
        "name": "function 10",
        "func": "let value = flow.get(\"ideal_temp\");\n\nif (value !== undefined) {\n    msg.payload = value;\n    return msg;\n} else {\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 620,
        "wires": [
            [
                "511f7a4db2de8531"
            ]
        ]
    },
    {
        "id": "14a85a81a9d37824",
        "type": "ui_switch",
        "z": "ec65de97fd14af2f",
        "name": "",
        "label": "Enable Alarm 1",
        "tooltip": "Enable Alarm 1",
        "group": "200c7a5d608f482e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "green",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "green",
        "animate": true,
        "className": "",
        "x": 220,
        "y": 1360,
        "wires": [
            [
                "5734cde579b8efd8"
            ]
        ]
    },
    {
        "id": "9afbac266df2a53b",
        "type": "ui_switch",
        "z": "ec65de97fd14af2f",
        "name": "",
        "label": "Enable Alarm 2",
        "tooltip": "Enable Alarm 2",
        "group": "200c7a5d608f482e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 240,
        "y": 1460,
        "wires": [
            [
                "ed62907170220ad9"
            ]
        ]
    },
    {
        "id": "5734cde579b8efd8",
        "type": "mqtt out",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "get-alarm-1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82937c582664468e",
        "x": 510,
        "y": 1360,
        "wires": []
    },
    {
        "id": "ed62907170220ad9",
        "type": "mqtt out",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "get-alarm-2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82937c582664468e",
        "x": 510,
        "y": 1460,
        "wires": []
    },
    {
        "id": "0bc320badbfcbc53",
        "type": "ui_text",
        "z": "ec65de97fd14af2f",
        "group": "200c7a5d608f482e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarms Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#92f05c",
        "x": 260,
        "y": 1540,
        "wires": []
    },
    {
        "id": "587c33875205d024",
        "type": "mqtt in",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "set-alarm-1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "82937c582664468e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1620,
        "wires": [
            [
                "71b6591768f0e375"
            ]
        ]
    },
    {
        "id": "71b6591768f0e375",
        "type": "ui_text",
        "z": "ec65de97fd14af2f",
        "group": "200c7a5d608f482e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm 1 Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 1620,
        "wires": []
    },
    {
        "id": "35b9029ab0bf0795",
        "type": "mqtt in",
        "z": "ec65de97fd14af2f",
        "name": "",
        "topic": "set-alarm-2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "82937c582664468e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1700,
        "wires": [
            [
                "102cd06fb75785ad"
            ]
        ]
    },
    {
        "id": "102cd06fb75785ad",
        "type": "ui_text",
        "z": "ec65de97fd14af2f",
        "group": "200c7a5d608f482e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm 2 Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 1700,
        "wires": []
    },
    {
        "id": "d7d5d070e4c4f631",
        "type": "ui_spacer",
        "z": "ec65de97fd14af2f",
        "name": "spacer",
        "group": "c1f100a1344a4108",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "760d1a727ec2a383",
        "type": "ui_spacer",
        "z": "ec65de97fd14af2f",
        "name": "spacer",
        "group": "c1f100a1344a4108",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "f352e38242bbd749",
        "type": "ui_spacer",
        "z": "ec65de97fd14af2f",
        "name": "spacer",
        "group": "c1f100a1344a4108",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "d58c1afa07d51561",
        "type": "ui_spacer",
        "z": "ec65de97fd14af2f",
        "name": "spacer",
        "group": "c1f100a1344a4108",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "3958d0e56484d006",
        "type": "ui_spacer",
        "z": "ec65de97fd14af2f",
        "name": "spacer",
        "group": "c1f100a1344a4108",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "8d2bad059e94cd4e",
        "type": "ui_spacer",
        "z": "ec65de97fd14af2f",
        "name": "spacer",
        "group": "c1f100a1344a4108",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "5dd723e1d7faee89",
        "type": "ui_group",
        "name": "Light",
        "tab": "e665d9afa644c88f",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1f100a1344a4108",
        "type": "ui_group",
        "name": "Motor Control",
        "tab": "e665d9afa644c88f",
        "order": 6,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27721d3795b6f8b8",
        "type": "ui_group",
        "name": "Temperature ",
        "tab": "e665d9afa644c88f",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "429689b111e4e605",
        "type": "ui_group",
        "name": "Settings",
        "tab": "e665d9afa644c88f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "babc4499461ba739",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "e665d9afa644c88f",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "82937c582664468e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d4032f66ccdc3d25",
        "type": "ui_group",
        "name": "Welcome",
        "tab": "e665d9afa644c88f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "200c7a5d608f482e",
        "type": "ui_group",
        "name": "Alarm",
        "tab": "e665d9afa644c88f",
        "order": 7,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e665d9afa644c88f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]